:root{
    box-sizing: border-box;
}

*,
::before
::after{
    box-sizing: inherit;
}

.formDiv{
    margin:1em;
    padding:1em;
    font-size:20px;
    line-height: 1.4em;
}

.title{
    text-decoration: underline;
}

input{
    display:block;
    width:90%;
    margin-bottom:0.5em;
}

button{
    width:45%;
    margin:5px;
}