:root{
    box-sizing: border-box;
}

*,
::before
::after{
    box-sizing: inherit;
}

.formDiv{
    margin:1em;
    padding:1em;
    font-size:20px;
}

.title{
    font-size: 1.2em;
}

input{
    display:block;
    width:90%;
}